@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

body {
  letter-spacing: 0.02rem;
  font-weight: 500;
  margin: 0;
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::selection {
  background: rgb(255, 73, 164);
  color: black;
}

.MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline,
.MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline:focus,
.MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline:active {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeEnd.MuiIconButton-sizeMedium.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
  color: #969ba5;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  fill: "white" !important;
}

.MuiCalendarPicker-root.css-169iwlq-MuiCalendarPicker-root,
.MuiClockPicker-root.css-1jm66jt-MuiClockPicker-root {
  background-color: #969ba5;
}

.MuiButtonBase-root.MuiPickersDay-root.Mui-selected {
  background-color: #3377ff !important;
}

.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root {
  background-color: #d5d5d5;
}

.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root:hover {
  background-color: #c3c4c8;
}

.MuiOutlinedInput-input.MuiInputBase-input.MuiInputBase-inputAdornedEnd.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input,
.MuiOutlinedInput-input.MuiInputBase-input.MuiInputBase-inputAdornedEnd.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input:active {
  max-height: 40px;
  padding: 8px;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 10px;
  caret-color: #3377ff;
  color: #969ba5;
}

.MuiOutlinedInput-input.MuiInputBase-input.MuiInputBase-inputAdornedEnd.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input::placeholder:hover {
  color: #3377ff !important;
}

/* Code inspiration https://github.com/iamshaunjp/React-Wordle */

.row > .child.green {
  --background: #538d4e;
  --border-color: #538d4e;
  animation: flip 0.5s ease forwards;
}
.row > .child.grey {
  --background: #3a3a3c;
  --border-color: #3a3a3c;
  animation: flip 0.6s ease forwards;
}
.row > .child.yellow {
  --background: #b59f3b;
  --border-color: #b59f3b;
  animation: flip 0.5s ease forwards;
}
.row > .child:nth-child(2) {
  animation-delay: 0.2s;
}
.row > .child:nth-child(3) {
  animation-delay: 0.4s;
}
.row > .child:nth-child(4) {
  animation-delay: 0.6s;
}
.row > .child:nth-child(5) {
  animation-delay: 0.8s;
}
.row.current > div.filled {
  animation: bounce 0.2s ease-in-out forwards;
}

.keypad > .child.green {
  background: #538d4e;
  color: #fff;
  transition: all 0.3s ease-in;
}
.keypad > .child.yellow {
  background: #b59f3b;
  color: #fff;
  transition: all 0.3s ease-in;
}
.keypad > .child.grey {
  background: #3a3a3c;
  color: #fff;
  transition: all 0.3s ease-in;
}

.modal {
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal div {
  max-width: 480px;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  margin: 10% auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.modal .solution {
  color: #ff004c;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@keyframes flip {
  0% {
    transform: rotateX(0);
    background: #fff;
    border-color: #333;
  }
  45% {
    transform: rotateX(90deg);
    background: white;
    border-color: #333;
  }
  55% {
    transform: rotateX(90deg);
    background: var(--background);
    border-color: var(--border-color);
  }
  100% {
    transform: rotateX(0deg);
    background: var(--background);
    border-color: var(--border-color);
    color: #eee;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
    border-color: #ddd;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    border-color: #333;
  }
}
